<div class="imdt-table-search-widget">
  <div class="input-group">
    <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
    {{input type="search" value=searchTerm class="imdt-table-search-input form-control"}}
  </div>
</div>
